<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168630501276-t805640iar23u79v4m75t2cgm9ff60dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168630501276-t805640iar23u79v4m75t2cgm9ff60dn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>168630501276-vkhl2qa8fno3dhjt0iep2mha6uq45nat.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCguABzji18azaJv93QNkZRbv8vqPgMtzk</string>
	<key>GCM_SENDER_ID</key>
	<string>168630501276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myChat</string>
	<key>PROJECT_ID</key>
	<string>my-chat-4a335</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chat-4a335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168630501276:ios:dd49ef9105ce63378bd259</string>
</dict>
</plist>